
article,aside,footer,header,hgroup,nav,section {
	display:block;
}
a:link { 
	color:black; 
	text-decoration:none
	} 
a:visited {	
}  
a:hover { 
	color:blue;
	outline:; /*1px solid green;*/
}  
a:active  { color:green; }  
}

#divfruit {
	width:40%;
	float:right;
}
#divfood {
	width:40%;
	float:left;
}
aside {
	background-color:#d9f2d9;
	border: 3px solid #006600;
	box-shadow: 1px 1px 6px 3px red;
	float:right;
	font-style:italic;
	font-size:125%;
	line-height:1.6;
	margin:50px;
	padding:15px;
	width:25%;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}
body {
	background-color:;
	background-image:url("thaifoodimages/thaifood40.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	font-size:;
	margin:;
	padding:;
	text-align:center;
	width:90%
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
footer{
	text-align:center;
	margin:20px;
	padding:10px;
	position:absolute;
	left:0px;
	bottom:0;
	width:100%
	text-align:center;
}
header {
	background-color:;
	padding:0px;
	position:;
	text-align:center;
}
header img {
	width:90%;
	box-shadow: 2px 2px 7px 4px darkslategray;
}
h1 {
	letter-spacing:5px;
	font-family:tahoma;
	text-shadow:3px 3px 5px #ffffe6;
}
h2 {
	font-family:tahoma;
	letter-spacing:5px;
	text-align:center;
}
nav {
	background-color:#d9f2d9;
	box-shadow:1px 1px 6px 3px darkslategray;
	display:;
	font-family:tahoma;
	font-size:;
	letter-spacing:2px;
	margin:;
	padding:.1px;
	text-align:center;
	width:100%;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}
nav a{
	text-decoration:none;
}
nav ul li {
	background-color:#ffffe6;
	box-shadow:1px 1px 4px 2px #ffffe6;
	display:inline;
	font-size:130%;
	font-weight:bold;
	margin:15px;
	padding:0px 5px 0px 5px;
	text-transform:uppercase;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}
p {
	font-family:arial;
}
#divmain {
	display:inline-block;
}
#divleftfruit {
	display:block;
	float:left;
	width:40%;
}
#divrightfruit {
	display:block;
	float:right;
		width:40%;
}
#divleftdish {
	display:block;
	float:left;
	width:40%;
}
#divleftdish img {
	box-shadow: 1px 1px 6px 3px darkslategray;
}
#divrightdish {
	display:block;
	float:right;
		width:40%;
}
#divrightdish img {
	box-shadow: 1px 1px 6px 3px darkslategray;
}	